
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="icon" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
    <link rel="stylesheet" href="~/css/HomePage.css" />
</head>

<div class="text-center">
    <h1 class="display-4 heading my-2">Welcome to Kidzee Book Store!!</h1>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="https://media.istockphoto.com/photos/brightening-his-world-with-books-picture-id1269500753?b=1&k=20&m=1269500753&s=170667a&w=0&h=PW0_xvQF4erXqk_Zg5JRQ9MKLpwT88rpZK8vuNC6Uto=" style="width:100%">
            <div class="text">Fun</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="https://www.rd.com/wp-content/uploads/2021/03/kids-books-online-with-GettyImages-487042432.jpg?fit=700,1024" style="width:100%">
            <div class="text">Filled</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="https://www.rd.com/wp-content/uploads/2019/11/children-reading-books-scaled.jpg" style="width:100%">
            <div class="text">Learning</div>
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <main>
        <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
            <h3 class="text-center text-capitalize">Categories</h3>
            <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 justify-content-evenly">
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81tz11D1x-L.jpg" class="card-img-top" alt="ActivityBook">
                        <div class="card-body">
                            <div class="clearfix mb-3 card-title"> <span class="text-center badge rounded-pill bg-primary">Activity Books</span> </div>
                            <h5 class="card-text">Fun Activities like Art and Crafts </h5>
                            <div class="text-center my-4"> <a asp-action="ActivityBooks" class="btn btn-warning">View More</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590868679l/53672312._SX318_.jpg" class="card-img-top" alt="Story Books">
                        <div class="card-body">
                            <div class="clearfix mb-3 card-title"> <span class="text-center badge rounded-pill bg-primary">Story Books</span>  </div>
                            <h5 class="card-text">Exciting,Adventurous and Moral Stories</h5>
                            <div class="text-center my-4"> <a asp-action="StoryBooks" class="btn btn-warning">View More</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/81loqYisnmL.jpg" class="card-img-top" alt="StudyBooks">
                        <div class="card-body">
                            <div class="clearfix mb-3 card-title"> <span class="text-center  badge rounded-pill bg-primary">Study Books</span>  </div>
                            <h5 class="card-text">General Knowledge and Academic Books</h5>
                            <div class="text-center my-4"> <a asp-action="StudyBooks" class="btn btn-warning">View More</a> </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 6000); // Change image every 6 seconds
    }
</script>